@charset "UTF-8";

html,
body {
    overflow-x: hidden;

}

body {
    background: #D4D9DD url(../images/bg01.jpg);
    background: #fff url(../images/bg02.png);
}


html {
    font-family: "Open Sans Condensed", "sans-serif";
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

.nav,
.header,
.main,
.footer {
    width: 100%;
}

.nav {
    background-color: rgb(14, 57, 55);
    padding: 5px 0 4px 4px;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-mobile {
    background-color: rgb(14, 57, 55);
    width: 100%;
    height: auto;
    margin-top: 9px;
    margin-left: -10px;
    padding-right: 20px;
    display: none;
    /* PÁGINA DE CONTATO */

}

.icon-menu,
.icon-cross {
    background-color: transparent;
    color: rgb(136, 194, 111);
    font-size: 40px;
    width: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px;
    cursor: pointer;
}

.icon-cross {
    font-size: 25px;
    padding-top: 15px;
    padding-right: 15px;
}

.menu ul {
    padding-left: 0;
}

.menu li {
    list-style-type: none;
    padding: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.menu li:hover {
    background-color: rgb(65, 61, 61);
}

.header {
    margin-top: 55px;
}

img {
    width: 100%;
    height: 100%;
}


.logo-icon {
    width: 50px;
    height: 50px;

}

.logo-icon img {
    border-radius: 50%;
}

.logo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.banner {
    background-color: rgb(0, 46, 43);
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-top: -20px;

}

.button-parceiros {
    padding: 20px;
    background: rgb(31, 165, 137);
    background: linear-gradient(90deg, rgba(31, 165, 137, 0) 0%, rgba(112, 197, 126, 1) 35%, rgba(246, 251, 105, 1) 100%);
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 3px black;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.main {
    padding: 10px;
    font-size: 1.5em;
    box-sizing: border-box;
}

.main h1+p {
    margin-top: 50px;
}

.article {
    text-align: center;
}

.img-cone {
    width: 250px;
    height: 250px;
    display: inline-block;
}

.button-saiba-mais,
.buy-button,
.button-contato {
    background-color: #083528;
    border: 3px solid #083528;
    border-radius: 5px;
    padding: 5px;
    color: white;
    letter-spacing: 1px;
}

.button-saiba-mais {
    margin-right: 20px;
}

.button-saiba-mais:hover,
.buy-button:hover {
    background: rgb(112, 197, 126);
    background: linear-gradient(90deg, rgba(112, 197, 126, 1) 13%, rgba(246, 251, 105, 1) 100%);
    text-shadow: 0px 0px 3px black;
}

.texto-propriedades-Q,
.texto-propriedades-P {
    display: none;
}

.logo-footer {
    display: none;
}

.redes-sociais li {
    display: inline-block;
    padding: 20px;
}

.redes-sociais a {
    text-decoration: none;
    color: #83969f;
    font-size: 25px;
}

.redes-sociais {
    text-align: center;
    padding: 0;

}

.footer {
    margin-top: 100px;
    background-color: #25303e;
    color: #83969f;
    font-size: 18px;
    box-sizing: border-box;
}

.quem-somos {
    margin-top: 60px;

}

#quote {
    font-style: italic;

}

.bottom-footer {
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    text-align: center;
    font-style: italic;
}

.redes-sociais,
.quem-somos {
    margin: 20px;
}

.modal-visible {
    border: 10px solid #083528;
    background-color: white;
    position: fixed;
    top: -2px;
    left: -2px;
    right: -2px;
    height: 100%;
    overflow: scroll;

}

.fechar-modal {
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    font-weight: bold;
    color: rgb(32, 32, 32);
    float: right;
    padding-right: 20px;
    padding-top: 10px;

}

.article-modal {
    margin-top: 40px;
    text-align: left;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

#last-article-P,
#last-article-Q {
    padding-bottom: 20px;
}

/* CONTATO */

.contato-container h1 {
    text-align: center;
    margin-top: 100px;
}

.whatsapp-container {
    margin-top: 100px;
    text-align: center;
}

.icon-whatsapp {
    text-align: center;
}

.whatsapp {
    font-size: 40px;
    padding: 30px;
    background-color: #01e675;
    border: 0px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

/* PARCEIROS */

.main-parceiros {
    margin: 80px 10px;
}

.parceiros-form label,
input {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.CEP-table {
    border-collapse: collapse;
    margin: 50px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.CEP-table thead tr {
    background-color: #083528;
    color: white;
    text-align: left;
    font-weight: bold;
}

.CEP-table th,
.CEP-table td {
    padding: 12px 15px;
}

.CEP-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.CEP-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.CEP-table tbody tr:nth-of-type(odd) {
    background-color: white;
}

.CEP-table tbody tr:last-of-type {
    border-bottom: 2px solid #083528;
}

/* SE MAIOR QUE 1000px */
/* 1000 / 16 = 62.5 */
@media screen and (min-width: 62.5em) {

    main,
    .main,
    .main-parceiros {
        width: 80%;
        margin: 100px auto;

    }

    /* NAV */
    .icon-menu {
        display: none;
    }

    .menu-mobile {
        display: inherit;
    }

    .menu-pc ul {
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
        padding-left: 0;
        padding-top: 4px;
    }

    .menu-pc li {
        display: inline-block;
        padding: 20px;
    }

    .menu-pc a {
        text-decoration: none;
        color: rgb(247, 251, 104);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 18px;
    }

    .menu-pc a:hover {
        color: rgb(136, 194, 111);
        font-weight: bold;

    }

    .menu-pc li:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }

    /* HEADER */
    .logo {
        width: 100%;
        height: auto;
    }


    .banner {
        background-color: rgb(0, 46, 43);
        width: 90%;
        padding: 50px 20px 0 0;
    }

    .flex-container {
        background-color: rgb(0, 46, 43);
        display: flex;
    }

    /* MAIN - PRODUCTS */

    .texto-propriedades-Q,
    .texto-propriedades-P {
        display: unset;

    }

    .hide {
        display: none;
    }

    .texto-propriedades-Q,
    .texto-propriedades-P {
        display: flex;
        margin: 0 auto;
    }

    .article-modal {
        background-color: white;
        box-shadow: 2px 2px 2px 1px rgb(128 128 128 / 10%);
        width: 30%;
        height: auto;
        margin: 0 10px;
        font-size: 18px;
        line-height: 1.5;
    }

    .products {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 50px;

    }

    .price {
        margin-top: 0;
        font-weight: bold;
        margin-left: 50px;
    }

    .article h2 {
        margin-top: 100px;
    }

    /* PARCEIROS */

    .main-parceiros {
        font-size: 1.2em;
    }

    .parceiros-form {
        width: 30%;
    }

    .CEP-table {
        width: 100%;
        margin: 80px auto;
        font-size: 1em;
    }

    /* CONTATO */

    .main-contato {
        width: 70%;
        font-size: 1.2em;
    }

    /* FOOTER */

    .footer {
        padding: 0;
    }

    .redes-sociais ul {
        margin: 0;
    }

    .flexcontainer-footer {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .logo-container {
        width: 70%;
        height: auto;
        margin-left: -100px;
    }

    .logo-footer {
        display: unset;
        width: 100%;
        height: auto;
    }

    .redes-sociais {
        width: 100%;
    }

    .quem-somos {
        margin-top: 20px;
        margin-right: 40px;
        font-size: 1.1em;
    }

    .bottom-footer {
        background-color: rgba(0, 0, 0, 0.15);
        padding: 1px;
        margin-top: 20px;
        text-align: center;
        font-style: italic;
    }








}