<section id="contato" class="py-5">
    <div class="container">

        <div class="text-center mb-5">
            <h1 class="display-4">Fale conosco</h1>
        </div>

        <div>
            <form class="row mt-5 form-floating" action="/contato" method="POST">

                <div class="mb-3">
                    <select name="motivo" class="form-select" required>
                        <option value="" selected>Selecione:</option>
                        <option value="adquirir-produtos">Adquirir produtos</option>
                        <option value="tornar-parceiro">Tornar-me parceiro(a)</option>
                        <option value="consulta">Consulta - Tenho uma dúvida</option>
                        <option value="outro-assunto">Outro assunto</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone</label> <br>
                    <small class="text-muted">Por favor use o seguinte formato: DDD-91234-5678 para telefone celular ou DDD-1234-5678 para telefone fixo</small>
                    <input type="tel" class="form-control" id="telefone" name="telefone"  pattern="[0-9]{3}[-]([0-9]{4}|[0-9]{5})[-][0-9]{4}" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="mensagem" class="form-label">Mensagem</label>
                    <textarea class="form-control" rows="3" name="mensagem" id="mensagem"
                        placeholder="Digite aqui sua mensagem."                maxlength="1000" required></textarea>
                    <small id="nchars" class="text-muted">1000</small>
                    <small class="text-muted">caracteres restantes</small>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-success">Enviar</button>
                </div>
            </form>
        </div>

    </div>
</section>
<script>
    var maxLength = 1000;
    $('textarea').keyup(function () {
        var textlen = maxLength - $(this).val().length;
        $('#nchars').text(textlen);
    });

</script>