<section id="parceiros">
    <div class="container">
        
        <div>
            <h1>Conheça nossos parceiros!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed laoreet lacus. Ut mollis risus ut orci
                commodo volutpat sed quis tellus. Vivamus accumsan ipsum a est tempus ultrices. Phasellus tincidunt
                vulputate dignissim. Donec consectetur venenatis tempus. Aenean ut molestie dolor, ac dignissim
                massa.Praesent ac semper elit, eget tempus enim. Aenean dictum sagittis orci.</p>
        </div>        

        <div>
            <div class="table-responsive py-5">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Website</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Nome do profissional</th>
                            <td>+41 1234-5678</td>
                            <td>Rua das Flores, 15</td>
                            <td>www.site.com</td>
                        </tr>
                        <tr>
                            <th scope="row">xxx</th>
                            <td>xxx</td>
                            <td>xxx</td>
                            <td>xxx</td>
                        </tr>
                        <tr>
                            <th scope="row">xxx</th>
                            <td>xxx</td>
                            <td>xxx</td>
                            <td>xxx</td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    
    </div>
</section>