<section id="parceiros">
    <div class="container">
        
        <div>
            <h1>Conheça nossos parceiros!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed laoreet lacus. Ut mollis risus ut orci
                commodo volutpat sed quis tellus. Vivamus accumsan ipsum a est tempus ultrices. Phasellus tincidunt
                vulputate dignissim. Donec consectetur venenatis tempus. Aenean ut molestie dolor, ac dignissim
                massa.Praesent ac semper elit, eget tempus enim. Aenean dictum sagittis orci.</p>
        </div>

        <div>
            <form class="row gy-2 gx-3 mt-5">
                <div id="cepHelp" class="form-text">Preencha seu CEP utilizando o seguinte formato: 00.000-000.</div>
                <div class="col-auto">
                    <input type="text" inputmode="numeric" pattern="(\d{2}.\d{3}-\d{3})" class="form-control" id="cep"
                        placeholder="Digite seu CEP" aria-label="Digite seu CEP" aria-describedby="cepHelp">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success mb-3">Encontrar parceiros próximos</button>
                </div>
            </form>
        </div>

        <div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Contato</th>
                            <th scope="col">Distancia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Ada Lovelace</th>
                            <td>Telefone/Endereço/Site</td>
                            <td>2 km</td>
                        </tr>
                        <tr>
                            <th scope="row">xxx</th>
                            <td>xxx</td>
                            <td>xx km</td>
                        </tr>
                        <tr>
                            <th scope="row">xxx</th>
                            <td>xxx</td>
                            <td>xx km</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-success mb-3">Ver todos os nossos parceiros</button>
            </div>
        </div>
    
    </div>
</section>