<section id="produtos" class="container my-5">
    <!-- Article - texto -->
    <article>
        <h1 class="h2">Você já conhece nossa linha de cones fitoterápicos?</h1><br>
        <span class="p-size">
            <p>Cada princípio ativo de nossos cones potencializam o resultado para tratar a necessidade de quem busca os
                nossos produtos. </p>
            <p>Atualmente trabalhamos com duas linhas de cones: a Linha Queridíssimos e a Linha Poderosos.</p>
            <p>Nossa Linha Queridíssimos, potencializada pelas propriedades do Alecrim, da Camomila e do Açafrão, atua
                no
                <strong>tratamento de ansiedade e relaxamento</strong> e é indicada para quem busca clareza mental e
                bem-estar.
            </p>
            <p>Já a Linha Poderosos, potencializada pelas propriedades do Alho, do Cravo da Índia e da Própolis Bruta, é
                indicada para o <strong>tratamento de infecções severas no ouvido, sinusite, rinite, zumbido, entre
                    outras
                    doenças crônicas</strong>.</p>
        </span>

    </article>

    <div class="row h-100">
        <!-- Article - Queridissimos -->
        <article class="col-12 col-md-6 col-lg-12">
            <div class="row cols-lg-4 g-2 py-5">
                <!-- card em display pequenos -->
                <div class=" col d-block d-md-none">
                    <div class="card mx-auto" style="width:60%">
                        <img src="img\cones.jpg" class="card-img-top" alt="cone hindu">
                        <div class="card-body">
                            <p class="h2">Linha Queridíssimos</p>
                            <p>Atacado - R$ 18,00 o par</p>
                            <p>Varejo - R$ 25,00 o par</p>
                            <div class="d-grid gap-2 d-lg-block">
                                <a href="/contato" class="btn btn-success w-100">Comprar</a>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success d-block d-lg-none" data-bs-toggle="modal"
                                    data-bs-target="#ModalQueridissimos">Saiba Mais</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card em display medios -->
                <div class="row">
                    <div class="col d-none d-md-block d-lg-none">
                        <div class="card">
                            <img src="img\cones.jpg" class="card-img-top" alt="cone hindu">
                            <div class="card-body">
                                <p class="h2">Queridíssimos</p>
                                <p>Atacado - R$ 18,00 o par</p>
                                <p>Varejo - R$ 25,00 o par</p>
                                <div class="d-grid gap-2 d-lg-block">
                                    <a href="/contato" class="btn btn-success w-100">Comprar</a>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success d-block d-lg-none"
                                        data-bs-toggle="modal" data-bs-target="#ModalQueridissimos">Saiba Mais</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- card em display grandes -->
                <div class="col d-none d-lg-block">
                    <div class="card h-100">
                        <img src="img\cones.jpg" class="card-img-top" alt="cone hindu">
                        <div class="card-body">
                            <p class="h2">Linha Queridíssimos</p>
                            <p>Atacado - R$ 18,00 o par</p>
                            <p>Varejo - R$ 25,00 o par</p>
                            <div class="d-grid gap-2 d-lg-block">
                                <a href="/contato" class="btn btn-success w-100">Comprar</a>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success d-block d-lg-none" data-bs-toggle="modal"
                                    data-bs-target="#ModalQueridissimos">Saiba Mais</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card em display medios e grandes: -->
                <div class="col d-none d-lg-block">
                    <div class="card h-100 border-success mb-3">
                        <div class="card-body text-success">
                            <h5 class="card-title">Açafrão</h5>
                            <p class="card-text">O Açafrão é a erva que carrega o poder da verdade.</p>
                            <ul>
                                <li>O cone de açafrão é indicado para ser utilizado em pessoas que precisam tomar
                                    grandes decisões</li>
                                <li>Traz clareza mental</li>
                                <li>Traz senso de direção</li>
                                <li>Auxilia a ter boas práticas na vida, pois induz a boas condutas</li>
                                <li>Traz ética</li>
                                <li>Diminui a necessidade de mentir</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="card h-100 border-success mb-3">
                        <div class="card-body text-success">
                            <h5 class="card-title">Alecrim</h5>
                            <p class="card-text">O Alecrim é conhecido como a erva da alegria pois ele promove bem estar
                                e acalma!</p>
                            <ul>
                                <li>O cone de alecrim é indicado para ser utilizado em pessoas ansiosas</li>
                                <li>Auxilia no tratamento de depressão</li>
                                <li>Combate o stress</li>
                                <li>Alivia tosse, gripe e asma</li>
                                <li>Estimula o fluxo sanguineo</li>
                                <li>Possui propriedades antioxidantes e é essencial para o sistema nervoso.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="card h-100 border-success mb-3">
                        <div class="card-body text-success">
                            <h5 class="card-title">Camomila</h5>
                            <p class="card-text">A Camomila possui propriedades calmantes e sedativas.</p>
                            <ul>
                                <li> O cone de camomila é indicado para pessoas que sofrem de crises de ansiedade e
                                    insonia e com pico de stress elevado.</li>
                                <li>Ajuda a diminuir picos de ansiedade</li>
                                <li>Ajuda a combater bacterias</li>
                                <li>Aumenta a imunidade</li>
                                <li>Proporciona relaxamento profundo</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal  d-sm e < -->
            <div class="modal fade" id="ModalQueridissimos" tabindex="-1" aria-labelledby="ModalQueridissimos"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="ModalQueridissimos">Linha Queridíssimos</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5 class="text-muted">Cone de Açafrão</h5>
                            <p>O Açafrão é a erva que carrega o poder da verdade.</p>
                            <ul>
                                <li>O cone de acafrão é indicado para ser utilizado em pessoas que precisam tomar
                                    grandes decisões</li>
                                <li>Traz clareza mental</li>
                                <li>Traz senso de direção</li>
                                <li>Auxilia a ter boas práticas na vida, pois induz a boas condutas</li>
                                <li>Traz ética</li>
                                <li>Diminui a necessidade de mentir</li>
                            </ul>
                            <hr>

                            <h5 class="text-muted">Cone de Alecrim</h5>
                            <p>O Alecrim é conhecido como a erva da alegria pois ele promove bem estar e acalma!</p>
                            <ul>
                                <li>O cone de alecrim é indicado para ser utilizado em pessoas ansiosas</li>
                                <li>Auxilia no tratamento de depressão</li>
                                <li>Combate o stress</li>
                                <li>Alivia tosse, gripe e asma</li>
                                <li>Estimula o fluxo sanguineo</li>
                                <li>Possui propriedades antioxidantes e é essencial para o sistema nervoso.</li>
                            </ul>
                            <hr>

                            <h5 class="text-muted">Cone de Camomila</h5>
                            <p>A Camomila possui propriedades calmantes e sedativas.</p>
                            <ul>
                                <li> O cone de camomila é indicado para pessoas que sofrem de crises de ansiedade e
                                    insonia e com pico de stress elevado.</li>
                                <li>Ajuda a diminuir picos de ansiedade</li>
                                <li>Ajuda a combater bacterias</li>
                                <li>Aumenta a imunidade</li>
                                <li>Proporciona relaxamento profundo</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </article>

        <!-- Article - Poderosos -->
        <article class="col-12 col-md-6 col-lg-12">
            <div class="row cols-lg-4 g-2 py-5">
                <!-- display pequenos -->
                <div class=" col d-block d-md-none">
                    <div class="card mx-auto" style="width:60%">
                        <img src="img\cones.jpg" class="card-img-top" alt="cone hindu">
                        <div class="card-body">
                            <p class="h2">Linha Poderosos</p>
                            <p>Atacado - R$ 18,00 o par</p>
                            <p>Varejo - R$ 25,00 o par</p>
                            <div class="d-grid gap-2 d-lg-block">
                                <a href="/contato" class="btn btn-success w-100">Comprar</a>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success d-block d-lg-none" data-bs-toggle="modal"
                                    data-bs-target="#ModalPoderosos">Saiba Mais</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- display medios -->
                <div class="row">
                    <div class="col d-none d-md-block d-lg-none">
                        <div class="card">
                            <img src="img\cones.jpg" class="card-img-top" alt="cone hindu">
                            <div class="card-body">
                                <p class="h2">Poderosos</p>
                                <p>Atacado - R$ 18,00 o par</p>
                                <p>Varejo - R$ 25,00 o par</p>
                                <div class="d-grid gap-2 d-lg-block">
                                    <a href="/contato" class="btn btn-success w-100">Comprar</a>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success d-block d-lg-none"
                                        data-bs-toggle="modal" data-bs-target="#ModalPoderosos">Saiba Mais</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- display grandes -->
                <div class="col d-none d-lg-block">
                    <div class="card h-100">
                        <img src="img\cones.jpg" class="card-img-top" alt="cone hindu">
                        <div class="card-body">
                            <p class="h2">Linha Poderosos</p>
                            <p>Atacado - R$ 18,00 o par</p>
                            <p>Varejo - R$ 25,00 o par</p>
                            <div class="d-grid gap-2 d-lg-block">
                                <a href="/contato" class="btn btn-success w-100">Comprar</a>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success d-block d-lg-none" data-bs-toggle="modal"
                                    data-bs-target="#ModalPoderosos">Saiba Mais</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Saiba mais em layout de cards para display medios e grandes: -->
                <div class="col d-none d-lg-block">
                    <div class="card h-100 border-success mb-3">
                        <div class="card-body text-success">
                            <h5 class="card-title">Cravo da Índia</h5>
                            <p class="card-text">O Cravo da India possui propriedades antissépticas e cicatrizante.</p>
                            <ul>
                                <li>O cone de cravo é indicado para tratar infecções</li>
                                <li>Tem ação antisséptica</li>
                                <li>É anti-inflamatório e antioxidante</li>
                                <li>Reduz sintomas de inflamação</li>
                                <li>Muito indicado em casos de infecções agravadas por sinusite</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="card h-100 border-success mb-3">
                        <div class="card-body text-success">
                            <h5 class="card-title">Própolis</h5>
                            <p class="card-text">O Própolis é um antibiótico natural. Age diretamente sobre o virus da
                                gripe.</p>
                            <ul>
                                <li>Possui efeito antibacteriano</li>
                                <li>Ajuda a melhorar gripe forte</li>
                                <li>Alivia dores de cabeça</li>
                                <li>É cicatrizante em caso de ferimentos no ouvido</li>
                                <li>Ajuda a aliviar tosses irritadiça e catarro</li>
                                <li>Ajuda a tratar sinusite fortemente atacada</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="card h-100 border-success mb-3">
                        <div class="card-body text-success">
                            <h5 class="card-title">Alho</h5>
                            <p class="card-text">O Alho é um antibiótico e um potente analgésico que pode ser usado para
                                aliviar
                                fortes dores de
                                ouvido.</p>
                            <ul>
                                <li>Possui poderosas propriedades antissépticas, antivirais, e antifúngicas</li>
                                <li>Alivia fortes dores de ouvido</li>
                                <li>Trata inflamações graves</li>
                                <li>Em caso de otite é o cone mais indicado para o tratamento</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Saiba mais em layout de modal para display pequenos: -->
            <div class="modal fade" id="ModalPoderosos" tabindex="-1" aria-labelledby="ModalPoderosos"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="ModalPoderosos">Linha Poderosos</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5 class="text-muted">Cravo da Índia</h5>
                            <p>O Cravo da India possui propriedades antissépticas e cicatrizante.</p>
                            <ul>
                                <li>O cone de cravo é indicado para tratar infecções</li>
                                <li>Tem ação antisséptica</li>
                                <li>É anti-inflamatório e antioxidante</li>
                                <li>Reduz sintomas de inflamação</li>
                                <li>Muito indicado em casos de infecções agravadas por sinusite</li>
                            </ul>
                            <hr>

                            <h5 class="text-muted">Cone de Própolis</h5>
                            <p>O Própolis é um antibiótico natural. Age diretamente sobre o virus da gripe.</p>
                            <ul>
                                <li>Possui efeito antibacteriano</li>
                                <li>Ajuda a melhorar gripe forte</li>
                                <li>Alivia dores de cabeça</li>
                                <li>É cicatrizante em caso de ferimentos no ouvido</li>
                                <li>Ajuda a aliviar tosses irritadiça e catarro</li>
                                <li>Ajuda a tratar sinusite fortemente atacada</li>
                            </ul>
                            <hr>

                            <h5 class="text-muted">Cone de Alho</h5>
                            <p>O Alho é um antibiótico e um potente analgésico que pode ser usado para aliviar
                                fortes dores de
                                ouvido.</p>
                            <ul>
                                <li>Possui poderosas propriedades antissépticas, antivirais, e antifúngicas</li>
                                <li>Alivia fortes dores de ouvido</li>
                                <li>Trata inflamações graves</li>
                                <li>Em caso de otite é o cone mais indicado para o tratamento</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>

    </div>

</section>