<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Cone hindu, cone fitoterápico, fitoterapia, cone, plantas medicinais, terapia">
    <meta name="description"
        content="Appbel distribui cones fitoterápicos para atacado e varejo. Os cones são feitos artesanalmente para extrair todo o pontencial da fitoterapia.">

    <!-- Bootstrap v.5.1 e CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Favicons -->
    <script src="https://kit.fontawesome.com/8cbe84e1e9.js" crossorigin="anonymous"></script>

    <title>Appbel</title>

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="img/min-logo-removebg.png" alt="logo" class="w-75 logo-img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse show" id="navbarCollapse" style="">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/parceiros">Parceiros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contato">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                </ul>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <main>
        <section id="carousel" class="d-block d-lg-none">
            <div id="carouselInterval" class=" row carousel carousel-dark slide my-5 bg-light" data-bs-ride="carousel">
                <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5 align-middle text-center carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="img/csl-1.jpg" class="d-block w-75 mx-auto" alt="imagem de cone hindu">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="img/banner.JPG" class="d-block w-75 mx-auto" alt="imagem de cone hindu">
                    </div>
                    <div class="carousel-item">
                        <img src="img/csl-3.jpg" class="d-block w-75 mx-auto" alt="imagem de cone hindu">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <section id="hero" class="container mb-5">
            <div class=" px-4 px-md-3 bn-header">
                <div class="row align-items-md-center">
                    <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5 align-middle text-center">
                        <span class="d-block d-lg-none">
                            <img src="img/logo-removebg.png" class="img-fluid w-100" alt="logo">
                        </span>
                        <span class="d-none d-lg-block">
                            <img src="img/logo-removebg.png" class="img-fluid" alt="logo" style="width: 60%;">
                        </span>
                    </div>
                    <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
                        <h1 class="display-5 mx-2 my-4">Trabalhamos com atacado e varejo.</h1>
                        <h2 class="display-6 text-muted mx-2 mb-4">Conheça nossos produtos e seja nosso parceiro!</h2>
                        <div class="d-grid gap-2">
                            <a href="/parceiros" class="btn btn-outline-success btn-parceiro">Seja um Parceiro
                                Appbel!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{{body}}}

    </main>

    <footer class="bg-footer">
        <div>
            <ul class="redes-sociais text-center">
                <li><a href="#"><i class="fab fa-facebook text-success"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter text-success"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram text-success"></i></a></li>
            </ul>
        </div>

        <div class="d-flex justify-content-evenly">
            <div class="d-none d-sm-block p-3">
                <img src="img/logo-removebg.png" alt="logo Appbel" class="logo-footer">
            </div>

            <div class="d-none d-sm-block p-3">
                <p>Quem somos</p>
                <p>Trabalhamos com atacado e varejo. Além de atender a nossos consumidores diretos, fornecemos cones
                    para casas de produtos naturais, de Curitiba e de Campo Largo, farmácias de homeopatia e espaços
                    terapêuticos. Trabalhamos também com revendedores.</p>
                <p>Conheça nossos produtos e seja nosso parceiro!</p>
            </div>
        </div>       
        <p class="text-center pb-2">Todos os direitos reservados.</p>
       
    </footer>



</body>

</html>